.exer-card{
    width: 96%;
    margin: 0px auto;
}

.card-main {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 50px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 92%;
    margin: 0px auto;
    
}
.card{
    width: 350px;
    height: 383px;
    padding: 20px;
    border: none !important ; 
    /* box-shadow: 0px 0px 10px rgba(248, 113, 113, 0.24)!important */
    border-radius: 0px;
box-shadow:  8px 8px 20px #c5c5c5,
             -8px -8px 20px #fbfbfb;
    

}
.card img{
    width: 100%;
    height: 250px;
    /* border: 2px solid black; */
}
.card .content {
    text-align: start;
}

/* navbar-wala-section */
.exer-container .img {
    background-size: cover;
    position: relative;
   
}
.exer-container .img::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8
}
.ex-span{
    margin-right: 500px;
    font-size: 30px;
    cursor: pointer;
}
.input-search{
    margin: 30px auto;
    width: 89%;
    /* margin-right: 100px; */
    height: 40px;
    
    /* height: 50px; */

}
.input-search input{
    box-shadow: none;
    height: 40px;
    outline: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    width: 98%;
    padding: 0.375rem 0.75rem;
    /* margin-top: 50px; */
    /* width: 98%; */
    border-radius: 10px;
    /* margin: 50px auto; */
}
.exer-card-lower{
    width: 100%;
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

  }
  .exer-card-lower .exer-btn{
    width: 155px;
    font-size: 15px;
    padding: 0;
    background: linear-gradient(90deg, #ff4757 0%, #F597BC 100%);
    color: white;
  border: none;
  cursor: pointer;
  font-weight: 400;
  text-align: center;

  }
  .last-btn-link{
    height: 48px;
    width: 155px;
  }
  .last-btn-link .link-wala-btn{
    width: 100%;
    height: 100%;
  }
  .loader {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
    margin: 20px auto;
  }
  
  .loader div {
    width: 8%;
    height: 24%;
    background: rgb(128, 128, 128);
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: fade458 1s linear infinite;
  }
  
  @keyframes fade458 {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.25;
    }
  }
  
  .loader .bar1 {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
  }
  
  .loader .bar2 {
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -1.1s;
  }
  
  .loader .bar3 {
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -1s;
  }
  
  .loader .bar4 {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.9s;
  }
  
  .loader .bar5 {
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.8s;
  }
  
  .loader .bar6 {
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.7s;
  }
  
  .loader .bar7 {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.6s;
  }
  
  .loader .bar8 {
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.5s;
  }
  
  .loader .bar9 {
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.4s;
  }
  
  .loader .bar10 {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.3s;
  }
  
  .loader .bar11 {
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.2s;
  }
  
  .loader .bar12 {
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0.1s;
  }

  .button {
    color: #ecf0f1;
    font-size: 17px;
    background-color: #F597BC ;
    border: 1px solid #F597BC ;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 6px 0px #F597BC ;
    transition: all .1s;
    
   }
   
   .button:active {
    box-shadow: 0px 2px 0px #F597BC ;
    position: relative;
    top: 2px;
   }
  