.service-container{
    width: 80%;
    /* border: 2px solid black; */
    margin: 20px auto;
}
/* .main-container{

} */
.box{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 50px auto;
    /* border:2px solid #f39c12; */
    width: 100%;
    /* position: absolute;
    left: 0;
    top: 0; */
  
    

}
.box .same {
    width: 400px ;
    height: 350px;
    /* border: 2px solid slateblue; */
    position: relative;
    overflow: hidden;
 
}
.box .same::before{
    content: '';
    transform: scaleY(0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff4757;
    /* background-image: linear-gradient(90deg, #FEB692 0%, #EA5455 100%); */
    background: linear-gradient(90deg, #ff4757 0%, #F597BC 100%);
    
    /* #FEB692
#EA5455 */
    z-index: -1;
    transition: transform 0.9s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
   
}
.box .same:hover::before{
    transform: scaleY(1);
    cursor: pointer;
    
}
.box .same:hover .hover-color{
    color: white;
}
/* .weight{
    border: 2px solid red;
}
.cycle{
    border: 2px solid gray;
} */

.center-same{
    
    margin: 50px auto;
    width: 70%;
   
}
.center-same h1{
   font-size: 20px;
  
}
.icon-wala{
    font-size: 100px;
    color: #f39c12;
}
.same:hover{
    color: white;
}

@media screen and (max-width: 760px){
    .service-container{
        width: 100%;
    }
    .box{
        display: flex;
        flex-direction: column;


    }
    .box .same{
        width: 600px ;
        height: 380px;
        margin: auto;
    }

}
